@import 'src/styles/variables';
@import 'src/styles/mixins';

.sprint-container {
  background-color: $column-container-background;
  position: relative;
  padding: 13px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;

  .create-task-button {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    font-size: 1.5rem;
    margin-top: 5px;
    height: 30px;
    font-weight: bold;

    &:hover {
      background-color: #c7c7c7;
    }
  }
}

.sprint-container-header {
  display: flex;
  box-sizing: border-box;
  margin-bottom: 15px;

  h4 {
    margin-top: 11px;
    margin-bottom: 7px;
  }

  div {
    font-size: 1.3rem;
    color: $secondary-text;
    padding: 12px 0 0 10px;
    font-weight: 100;

    span {
      color: $secondary-text;
    }
  }

  button {
    @include button;
  }
}
